# Data Science Tools and Ecosystem

Objectives:
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn

| Data Science Tools |
| --- |
| Git |
| ONNX |
| Apache Spark  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335